* {
  margin: 0 auto;
  text-align: center;
}

.shoeBox {
  width: 300px;
  margin: 20px auto;
  border: 1px solid black;
  position: relative;
}

.shoeBox:hover .shoeInfo {
  display: block;
}


.shoeInfo {
  display: none;
  position: relative;
  background-color: cyan;
  padding: 10px;
}

.shoeActions {
  display: none;
  margin-top: 10px;
}

.shoeBox:hover .shoeActions {
  display: block;
}